body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #040404, #501717); 
    margin: 0;
    padding: 0;
}

div {
    max-width: 400px;
    margin: 70px auto;
    padding: 50px;
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-content: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 20px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.option:hover {
    color: lightcyan;
  }
  #submit {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor:grabbing;
    font-size: 16px;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color: #45a049;
}
